#reflected .rf_comment_wrapper .rf_comment_text_wrapper {
  width: inherit;
}

#reflected .rf_comment_wrapper .rf_comment_summary {
  width: 320px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .rf_clarification {
 width: 247px; 
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main {
  width: 270px;
}

#reflected .response_prompt {
  width: 215px;
}

#reflected .rf_comment_wrapper .rf_comment_summary .rf_evaluation {
  width: 40px;
  float: right;
}

#reflected .bullet_author img, 
#reflected .bullet_author.rf_listener_pic {
  display: none;
}

#reflected .response.new ul.response_def li.response_dialog .rf_dialog, 
#reflected .response.modify ul.response_def li.response_dialog {
  width: 90%;  
}


#reflected .rf_comment * {
	vertical-align: top;
}

#reflected .rf_comment_wrapper > tbody > tr {
  background: inherit;
}