#main #sidebar-first {
  display: none;
}

#main #content {
  width: 850px;
}

#main .field-item {

}

.comment {
  margin-left: -85px;
}

#reflected .rf_comment_wrapper .rf_comment_text_wrapper {
  width: 750px;
  
}

#reflected .rf_comment_wrapper .rf_comment_summary_wrapper {
  width: 380px;
  
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.full_bullet .bullet_main {
  background-color: #f3f3f3;
  border-top: 1px solid #D3D7D9;
  padding-top: 4px;
  padding-left: 2px;
}

#reflected .rf_comment_wrapper .rf_comment_summary {
  padding-left: 0;
  margin-left: -1px;
}

#reflected .rf_comment_wrapper .rf_comment_text_wrapper {
  padding: 0 0;
  border-right: 0px solid #ffffff;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list {
  margin-left: -1px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_footer_wrapper  {
  right: -6px;
  
}